<html>

<head>
    <script src="vendor/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{ msg }}</h1>
        <div v-for="(item,index) in items" :key="index">
            <span>
                {{item}}
                <button @click="deleteData(index)">delete</button>
            </span>
        </div>
        <div>
            <input type="text" v-model="inputData" />

            <button @click="addItem">add item</button>
        </div>
        <div>
            <button @click="loadData">read from storage</button>
            <button @click="saveData">save to storage</button>
        </div>
    </div>

    <script src="popup.js"></script>
</body>

</html>