<template>
  <div id="app">
    <!-- <HelloWorld msg="07_storage_CRUD" /> -->
    <Todos />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
//import HelloWorld from "./components/HelloWorld.vue";
import Todos from "./components/Todos.vue";

@Component({
  components: {
    //HelloWorld
    Todos
  }
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
