<template>
  <div id="todo">
    <h1>{{ msg }}</h1>
    <div v-for="(item, index) in items" :key="index">
      <span>
        {{item}}
        <button @click="deleteData(index)">刪除</button>
      </span>
    </div>
    <div>
      <input type="text" v-model="inputData" />

      <button @click="addItem">新增資料</button>
    </div>
    <div>
      <button @click="loadData">讀取資料</button>
      <button @click="saveData">儲存資料</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Todos extends Vue {
  msg: string = "Hello vue !";
  inputData: string = "test";
  items: Array<string> = ["123"];

  addItem() {
    var item = this.inputData;
    console.log(`add ${this.items}`);

    this.items.push(item);
    console.log(`items:${this.items}`);
  }

  loadData() {
    var vm = this;
    chrome.storage.local.get("tempData", function(result) {
      vm.items = result.tempData;
    });
  }

  saveData() {
    chrome.storage.local.set({ tempData: this.items }, function() {
      console.log("Value is set");
    });
  }

  deleteData(index: number) {
    this.items.splice(index, 1);
  }
}
</script>